body
{
    background: #455A64;
}
.class_one h2
{
    color: #3a1f5d;
}
.class_one p
{
    color: #3a1f5d;
}
.class_two h2
{
    color: #61f2f5;
}
.class_two p
{
    color: #61f2f5;
}
.class_three h2
{
    color: #e15249;
}
.class_three p
{
    color: #e15249;
}
.class_four h2
{
    color: #f6d365;
}
.class_four p
{
    color: #f6d365;
}