body
{
    font-family: "lato",sans-serif;
}
.sidenav
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffd11a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a
{
    display: block;
    color: white;
    text-decoration: none;
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover
{
    color: black;
}
.sidenav .close_btn
{
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
    font-size: 36px;
}
.main
{
    transition: margin-left .5s;
    padding: 16px;
}
span
{
    font-size: 30px;
    cursor: pointer;
}