body
{
    background: #2f3640;
    margin: 0;
    padding: 0;
}
#myinput
{
    width: 180px;
    height: 40px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    background: white;
    border: none;
    border-radius: 25px;
    color: #e84118;
    outline: 0;
    transition: all 0.7s ease-in-out;
    
}

#myinput:hover
{
    background: #e84118;
    color: white;
}
/* do not group these rules */
*::-webkit-input-placeholder {
    color: #e84118;
    font-weight: bold;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: red;
    opacity: 1;
    font-weight: bold;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #e84118;
    opacity: 1;
    font-weight: bold;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #e84118;
    font-weight: bold;
}
*::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #e84118;
    font-weight: bold;
}
*::placeholder {
    /* modern browser */
    color: #e84118;
    font-weight: bold;
}
